html, body, #root {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This line makes the background fixed */
  height: 100%; /* This line and the next one make the background cover the whole page */
  width: 100%;

}

